/* ========================================================================== */
/* ROCA Airways Base Styles
/* ========================================================================== */

* { box-sizing: border-box; }

/* Basic typography
========================================================================== */

body {
	margin: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #333;
}

h1, h2, h3, h4, h5 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #555;
	margin: 0.25em 0;
}

a {
	color: #EB6060;
}

a:active,
a:focus {
	color: #BE5C5C;
}

p {
	margin: 0 0 0.5em;
}

p.lead-text {
	font-size: 1.25em;
}

label, strong { font-weight: 400; }

.annotation {
	color: #AAA;
	font-style:	italic;
	font-weight: 300;
}

.organization {
	color: #EB6060;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.hint {
	font-size: 90%;
	color: #777;
}

.unavailable {
	opacity: 0.5; /* TODO: not safe */
}

.vis-alt { /* TODO: not accessible */
	display: none;
}


/* Company footer & header
========================================================================== */

footer {
	clear: both;
	display: block;
	margin: 2em 0 6em;
	border-top: 2px solid #eee;
	padding-top: 1em;
	font-size: 80%;
	color: #777;
}

.company-header {
	margin-bottom: 1em;
}


/* Forms
========================================================================== */

input[type=radio][disabled],
input[type=checkbox][disabled],
.unavailable,
.unavailable * { /* XXX: bad selector? */
	cursor: not-allowed;
}


/* Sections
========================================================================== */

.details {
	margin-top: 2em;
}

.full-width {
	width: 100%;
	overflow: hidden;
}

/* Definition List
========================================================================== */

dd { margin: 0 0 0.5em 0; }
dt {
	font-weight: 600;
	margin-bottom: 0em;
}


/* Buttons
========================================================================== */

.button {
	padding: 0.5em 1em;
	font-weight: 400;
	transition: all 0.25s ease-in-out;
	color: #EB6060;
	background-color: white;
	border: 2px solid #EB6060;
}

.button:focus, .button:hover {
	color: white;
	background-color: #EB6060;
}

.button:active {
	background-color: #D26868;
}

.button.secondary:focus, .button.secondary:hover {
	color: white;
	background-color: #DDD;
}

.button.secondary:active {
	background-color: #DDD;
}

.button.secondary {
	color: #AAA;
	background-color: white;
	border: 2px solid #DDD;
}



/* Checkin Form
========================================================================== */

.checkin-form { overflow: hidden; }
.form-row { margin: 1em 0; }
.form-row label { margin-bottom: 0.25em; }

.form-row label, .form-row input {
	width: 100%;
	max-width: 40em;
	display: block;
}

.form-row input[type=text] {
	padding: 0.5em 1em;
	border: 2px solid #ddd;
}

.form-row input[type=text]:focus {
	border: 2px solid #aaa;
	outline: none;
}

.form-row .button { margin-top: 0.5em; }
.form-row input[disabled] { background-color: #f7f7f7; }


/* Airplane
========================================================================== */

.plane {
	clear: both;
	width: 400px;
	margin: 2em 0;
}

.plane-body {
	border-right: 2px solid #EB6060;
	border-left: 2px solid #EB6060;
	overflow: hidden;
}

.plane:before {
	content: "";
	position: relative;
	display: block;
	height: 350px;
	width: 400px;
	background-image: url(plane-head.svg);
}

.plane:after {
	content: "";
	display: block;
	height: 400px;
	width: 400px;
	background-image: url(plane-tail.svg);
}

.rows,
.seats {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.rows {
	padding: 0 20px;
}

.rows > li:first-child {
	margin-top: 25px;
}


.seats {
	overflow: visible; /* avoids clipping and scrolling on focus-scaled seat */
}

.seats > li {
	float: left;
	width: 50px;
	height: 50px;
	margin: 0;
	pading: 0;
	line-height: 50px;
	text-align: center;
	transition: all 0.25s ease-in-out;
}

.seats > li:nth-child(6n+4) { /* aisle */
	margin-left: 50px;
}

.seats label { /* fill container */
	display: block;
	width: 100%;
	height: 100%;
}

/* augemented */

.rows.augmented .unavailable {
	opacity: 1; /* neutralizes basic version -- XXX: hacky */
}

.rows.augmented .seats > li {
	margin-bottom: 1em; /* legroom */
	background-image: url(seat_unoccupied.svg);
}

.rows.augmented .seats > li:not(.unavailable) {
	cursor: pointer;
}

.rows.augmented .seats > li.selected {
	background-image: url(seat_selected.svg);
}

.rows.augmented .seats > li.occupied {
	background-image: url(seat_occupied.svg);
}

.rows.augmented .seats > li.vip { /* XXX: crude */
	margin-bottom: 40px; /* extra legroom */
	background-image: url(seat_vip.svg);
}

.rows.augmented label {
	margin-left: -999em;
}

/* Debug panel
========================================================================== */

.debug {
	position: fixed;
	bottom: 0em;
	right: 0em;
	left: 0em;
	border-top: 2px solid #DDD;
	padding: 0.75em 1em 1em 1em;
	text-align: center;
	background-color: white;
	overflow: hidden;
}

.debug a {
	font-size: 80%;
	text-decoration: none;
}

.debug a, .debug .annotation {
	margin-bottom: 1em;
}

.debug .annotation {
	display: block;
}

.debug a:last-child {
	margin-right: 0em;
}

/* Mobile first media queries
========================================================================== */

@media screen and (min-width: 40em) {
	.container {
		width: 40em;
		margin: 1em auto;
	}

	.half-width {
		float: left;
		width: 50%;
	}

	.debug a, .debug .annotation {
		display: inline;
		line-height: 1em;
		margin-right: 0.5em;
	}

}
