<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }}</title>
	{% if includeCSS %}
		<link rel="stylesheet" href="/assets/styles/normalize.css">
		<link rel="stylesheet" href="/assets/styles/main.css">
		<!-- TODO: Load Webfonts async -->
		<link href='http://fonts.googleapis.com/css?family=Lato:700italic|Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	{% endif %}
	{% if includeJS %}
		<script src="/assets/vendor/modernizr.js"></script>
	{% endif %}
</head>

<body class="container">
	<header role="banner" class="company-header">
		<a class="logo" href="/">ROCA Airways Homepage</a>
	</header>

	<main role="main">
		{% block body %}{% endblock %}
	</main>

	<footer role="contentinfo" class="seperator">
		<p>
			<span class="organization">ROCA</span> <i>Airways</i> online check-in is a simple demo application
			demonstrating the
			<a href="https://github.com/innoq/rocair#readme">benefits</a> of
			<a href="https://www.gov.uk/service-manual/making-software/progressive-enhancement">
				progressive enhancement
			</a>
			for both end users and developers.
		</p>

		<p>
			Created by <a href="https://www.innoq.com">innoQ</a>, though based
			on the collective wisdom of web advocates across the globe.
		</p>

		{% if devLinks %}
		<div class="debug-panel seperator">
			<p><i>You can toggle styling and scripting below to see progressive enhancement in action.</i></p>
			<div class="button-bar">
			{% for link in devLinks %}
				<a class="button secondary" href="{{ link.uri }}" title="{{ link.desc }}">{{ link.label }}</a>
			{% endfor %}
			</div>
		</div>
		{% endif %}
	</footer>

	{% if includeJS %}
	<!-- TODO: Load stuff async via enhance.js -->
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js"></script> -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
	<script src="/assets/scripts/fancy_controls.js"></script>
	<script src="/assets/scripts/data_mirror.js"></script>
	<script src="/assets/scripts/smooth_scroll.js"></script>
	<script src="/assets/vendor/h5validate.js"></script>
	<script src="/assets/vendor/tooltipsy.js"></script>
	<script src="/assets/scripts/main.js"></script>
	{% endif %}
</body>

</html>
