<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/assets/normalize.css">
	{% if includeCSS %}
		<link rel="stylesheet" href="/assets/main.css">
		<link href='http://fonts.googleapis.com/css?family=Lato:700italic|Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	{% endif %}
</head>

<body class="container">
	<header class="company-header">
		<a href="/"><img src="/assets/rocair-logo.svg" width="250px" alt="ROCA Airways Logo"></a>
	</header>

	<main role="main">
		{% block body %}{% endblock %}
	</main>

	<footer class="seperator">
		<p>
			<span class="organization">ROCA</span> <i>Airways</i> online check-in is a simple demo application
			demonstrating the
			<a href="https://github.com/innoq/rocair#readme">benefits</a> of
			<a href="https://www.gov.uk/service-manual/making-software/progressive-enhancement">
				progressive enhancement
			</a>
			for both end users and developers.
		</p>

		<p>
			Created by <a href="https://www.innoq.com">innoQ</a>, though based
			on the collective wisdom of web advocates across the globe.
		</p>

		{% if devLinks %}
		<div class="debug-panel seperator">
			<p><i>You can toggle styling and scripting below to see progressive enhancement in action.</i></p>
			<div class="button-bar">
			{% for link in devLinks %}
				<a class="button secondary" href="{{ link.uri }}" title="{{ link.desc }}">{{ link.label }}</a>
			{% endfor %}
			</div>
		</div>
		{% endif %}
	</footer>

	{% if includeJS %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
	<script src="/assets/fancy_controls.js"></script>
	<script src="/assets/data_mirror.js"></script>
	<script src="/assets/smooth_scroll.js"></script>
	<script src="/assets/main.js"></script>
	{% endif %}
</body>

</html>
